
/*Navigation CSS*/
#header  .fixed-top{
    box-shadow: 0 0.125rem 0.675rem rgb(0 0 0 / 15%);
}

#header .navbar-nav .nav-link{
    color: black;
    padding: 0,5rem 1rem;
    text-align: center;
    transform: 1s;
}

#header .navbar-nav .nav-link:hover{
    color: grey;
}

#header .navbar-toggler:focus{
    box-shadow: none;

}

.home .carousel-inner{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% center;
    max-height: 650px;
    
}